<div class="row" *ngIf="co==0">
    <div >
        <table class="col-12" style=" background-color: #7BC7C7;">
            <a class="thumail" [routerLink]="['/menu/'+item.id]" routerLinkActive="router-link-active"  *ngFor="let item of data.menu ">
            <tr >
                <td ><img class="img" src="{{item.img}}" alt=""></td>
            </tr>
            <tr >
                <td ><p>{{item.name}}</p></td>
            </tr>
        </a>
        </table>
    </div>
    <div class="col-12" style="margin:10px 0px;">
    
        <input type="text" class=" col-6" placeholder="Tìm kiếm theo tên " name="searchText" [(ngModel)]="searchText" />
        <select name="sort" class="col-6" [(ngModel)]="sort">
            <option value="">Săp xếp</option>
            <option value="name">Tên A->Z</option>
            <option value="-name">Tên Z->A</option>
            <option value="price">Giá Tăng dần</option>
            <option value="-price">Giá giam dần</option>
        </select>
    </div>
    <div class="card col-4"  *ngFor="let item of data.product | filter:searchText |sortBy:sort" style="width: 20rem;">
      <img src="{{item.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <h6 style="color: red;">{{item.price}}đ</h6>
        <a href="#" class="btn btn-warning"  (click)="addcart(item)">Thêm vào giỏ</a>
        <a style="margin-left: 5px;" [routerLink]="['/product/'+item.id]" class="btn btn-primary">Xem chi tiết</a>
      </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination"  >
      <li class="page-item" (click)="nhan(1)" ><a class="page-link"[routerLink]="['/products/1']" >1</a></li>
      <li class="page-item" (click)="nhan(2)"><a class="page-link" [routerLink]="['/products/2']" >2</a></li>
      <li class="page-item" (click)="nhan(3)"><a class="page-link" [routerLink]="['/products/3']" >3</a></li>
    </ul>
  </nav>
  </div>
  <div *ngIf="co==1" style="font-size: 125px;text-align: center;">
    PAGE 404
</div>