.card{
    margin: 10px 2.4%;
}
.img {
    width: 70px;
    height: 70px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    }
    a{
        text-decoration: none;
    }
    table
    {
        padding: 10px;
        tr{
   margin: 20px;

        }
    }
.thumail{
    margin: 0px 10%;
   padding: 10px;
    p{
        color:black;
        text-decoration: none;
    }
    img{
        margin-top: 10px;
    }
}
