
<form #frmLogin="ngForm" (ngSubmit)="onSubmit(frmLogin)">
    <div class="container">
      <h1>Register</h1>
      <hr>
      <label for="psw"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" [(ngModel)]="user.name" name="name"  required>
      <label for="email"><b>Email</b></label>
      <input type="email" [(ngModel)]="user.email" placeholder="Enter Email" name="email"  required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="user.pass" name="psw"  required>
      <label for="psw"><b>Địa chỉ</b></label>
      <input type="text" placeholder="Enter Đại chỉ" [(ngModel)]="user.daichi" name="dc"  required>
      <hr>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>

  </form>