<div class="row" *ngIf="co==0">
    <h1 style="text-align: center;margin: 20px;">Chi tiết sản phẩm</h1>
    <img src="{{data.data.img}}" class="col-6" alt="">
    <div class="col-6">
        <h1>{{data.data.name }}</h1>
        <h3 style="color:red">{{data.data.price }}đ</h3>
        <hr>
        <p>{{data.data.mota}}</p>
        <p>Số Lượng phần Ăn </p>
        <table>
            <tr>
                <td><a (click)="giamsl()" style="padding: 10px 15px;"  class="btn btn-success">-</a></td>
                <td >   <p style="margin: 0px 20px;font-size: 24px;font-weight: 700;">{{data.data.sl}}</p></td>
                <td><a (click)="tangsl()" style="padding: 10px 15px;"class="btn btn-success">+</a></td>
            </tr>
        </table>
        <P style="color:red;">Thành tiên: {{data.data.price*data.data.sl}} đ</P>
        <a class="btn btn-danger" (click)="addcart(data.data)">Thêm vào giỏ</a>
     

    </div>
    <h1 style="text-align: center;">Bình luận</h1>
    <hr>
    <div *ngFor="let item of data.binhluan">
        {{item.name}}: {{item.noidung}}
        <hr width="50">
    </div>
    <div *ngIf="co1==1">
        <form #frmLogin="ngForm" (ngSubmit)="onBinhluan(frmLogin)">
        <input type="text" name="binhluan" required [(ngModel)]="binhluan"> 
        <input type="submit" value="Bình luận">
    </form>
</div>
</div>
<div *ngIf="co==1" style="font-size: 125px;text-align: center;">
    PAGE 404
</div>