<div style=" margin-top: 10px; background-color: #373B3B;color:#fff;font-weight: 700;">
    <table class="row"  >
        <tr class="col-4">
            <table>
                <tr>
                    <td><p style="text-align: center;font-size: 18px;">Đại chỉ</p></td>
                </tr>
                <tr>
                    <td><p>12 Trịnh Đình Thảo, Hoà Thanh, Tân Phú, Thành phố Hồ Chí Minh, Việt Nam</p></td>
                </tr>
                <tr>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.863104100214!2d106.6371452!3d10.7755937!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ea168a65c0b%3A0x2a4a7dc43e177de1!2zMTIgVHLhu4tuaCDEkMOsbmggVGjhuqNvLCBIb8OgIFRoYW5oLCBUw6JuIFBow7osIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1647413493150!5m2!1svi!2s" width="80%" height="50%" style=" margin-left: 10px; border:0;" allowfullscreen="" loading="lazy"></iframe>
                </tr>
            </table>
        </tr>
        <tr class="col-4">
                <table>
                    <tr>
                    <td><p style="text-align: center;font-size: 18px;">Liên hệ</p></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><a href="mailto:ngonhan977@gmail.com"> ngonhan977@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td><a href="tel:000000000000">0123456789</a></td>
                    </tr>
                </table>
        </tr>
        <tr class="col-4">
            <table>
                <tr>
                <td><p style="text-align: center;font-size: 18px;">Chia sẽ</p></td>
                </tr>
                <tr>
                    <ul style="list-style-type: none;">
                        <li><a class="hover1"  style="padding-left:65px;padding-right:65px;padding-top:20px;padding-bottom:20px;border-radius:10px;background-color:#007aff;color:white;"> Facebook</a></li><br><br>
                        <li><a class="hover2"  style="padding-left:83px;padding-right:83px;padding-top:20px;padding-bottom:20px;border-radius:10px;background-color:#003aff;color:white;">Zalo</a></li><br><br>
                        <li><a class="hover4"  style="padding-left:70px;padding-right:58px;padding-top:20px;padding-bottom:20px;border-radius:10px;background-image: linear-gradient(120deg,#ff7f00,#ff007f);;color:white;">Instagram</a></li>
                    </ul>
                </tr>
            </table>
        </tr>
      </table>
      <hr>
      <p>Copyright 2021 Burger Corporation.All Rights Reserved.Designed by Minh nhân </p>
</div>