<div class="row">
  <div class="col-12">
    <hr>
    <h1 style="color:red">Các Sản phẩm Mới</h1>
   
    <hr>

  </div>

  <div class="card col-4"  *ngFor="let item of data " style="width: 20rem;">
    <img src="{{item.img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <a href="#" class="btn btn-warning"  (click)="addcart(item)">Thêm vào giỏ</a>
      <a style="margin-left: 5px;" [routerLink]="['/product/'+item.id]" class="btn btn-primary">Xem chi tiết</a>
    </div>
</div>
</div>